# DEFAULT linux

TIMEOUT 50
ONTIMEOUT linux

UI vesamenu.c32
MENU TITLE Boot

LABEL linux
	MENU LABEL Linux
	LINUX /bzImage
	APPEND initrd=/initramfs.cpio
	# console=ttyS0

LABEL memtest
	MENU LABEL Memtest86+
	LINUX /memtest

LABEL hdt
	MENU LABEL Hardware Info
	COM32 hdt.c32

LABEL reboot
	MENU LABEL Reboot
	COM32 reboot.c32

LABEL poweroff
	MENU LABEL Power Off
	COM32 poweroff.c32
